<section>
  <div class="main__card card">
    <div class="main__card__header card-header">
      {{#if edit}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        ><path
            fill="currentColor"
            d="M16.84 2.73c-.39 0-.77.15-1.07.44l-2.12 2.12l5.3 5.31l2.12-2.1c.6-.61.6-1.56 0-2.14L17.9 3.17c-.3-.29-.68-.44-1.06-.44M12.94 6l-8.1 8.11l2.56.28l.18 2.29l2.28.17l.29 2.56l8.1-8.11m-14 3.74L2.5 21.73l6.7-1.79l-.24-2.16l-2.31-.17l-.18-2.32"
          ></path></svg>
      {{else}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        ><path
            fill="currentColor"
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"
          ></path></svg>
      {{/if}}
      <h5 class="mb-0">{{#if edit}}edi{{else}}crea{{/if}}ción de tipo de pokemon</h5>
    </div>
    <div class="main__card__body card-body">
      <form
        method="POST"
        action="/admin-types/{{#if edit}}edit{{else}}add{{/if}}"
        class="main__card__body__form"
      >
        <div class="form-group mb-2">
          <label for="name">nombre del tipo de pokemon:</label>
          <input
            class="form-control form-control-sm required-field"
            type="text"
            id="name"
            name="name"
            autofocus
           {{#if edit}}value="{{type.name}}"{{/if}} 
          />
        </div>
        {{#if edit}}
          <input type="hidden" name="id" value="{{type.id_type}}" />
        {{/if}}
        <div class="main__card__body__form__buttons">
          <a href="/admin-types" class="btn btn-warning management-button">
            Volver atras
          </a>
          <button
            type="button"
            class="btn btn-danger management-button ms-1"
            id="btn-save"
          >
            {{#if edit}}Edit{{else}}Cre{{/if}}ar Tipo
          </button>
        </div>
      </form>
    </div>
  </div>
</section>