<section>
  {{#if noData}}
    <article class="main__content">
      <div class="warning">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        ><path
            fill="currentColor"
            d="M4 20v-6a8 8 0 1 1 16 0v6h1v2H3v-2h1zm2-6h2a4 4 0 0 1 4-4V8a6 6 0 0 0-6 6zm5-12h2v3h-2V2zm8.778 2.808l1.414 1.414l-2.12 2.121l-1.415-1.414l2.121-2.121zM2.808 6.222l1.414-1.414l2.121 2.12L4.93 8.344L2.808 6.222z"
          ></path></svg>
        <h1>Debe tener al menos una regi贸n y un tipo de pokemon registrados para
          crear un pokemon</h1>
        <a href="/admin-pokemon" class="btn button default-button">
          volver atras
        </a>
      </div>
    </article>
  {{else}}
    <div class="main__card card">
      <div class="main__card__header card-header">
        {{#if edit}}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          ><path
              fill="currentColor"
              d="M16.84 2.73c-.39 0-.77.15-1.07.44l-2.12 2.12l5.3 5.31l2.12-2.1c.6-.61.6-1.56 0-2.14L17.9 3.17c-.3-.29-.68-.44-1.06-.44M12.94 6l-8.1 8.11l2.56.28l.18 2.29l2.28.17l.29 2.56l8.1-8.11m-14 3.74L2.5 21.73l6.7-1.79l-.24-2.16l-2.31-.17l-.18-2.32"
            ></path></svg>
        {{else}}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1em"
            height="1em"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          ><path
              fill="currentColor"
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"
            ></path></svg>
        {{/if}}
        <h5 class="mb-0">{{#if edit}}edi{{else}}crea{{/if}}ci贸n de pokemon</h5>
      </div>
      <div class="main__card__body card-body">
        <form
          method="POST"
          action="/admin-pokemon/{{#if edit}}edit{{else}}add{{/if}}"  
          class="main__card__body__form"
          enctype="multipart/form-data"
        >
          <input name="_csrf" value="{{csrfToken}}" type="hidden" />
          <div class="form-group mb-2 input-img">
            {{#if edit}}
              <picture>
                <label>foto actual:</label>
                <img src="/assets/images/uploaded/{{pokemon.photo_path}}" alt="{{pokemon.name}}" />
              </picture>
            {{/if}}
            <div>
              <label for="image">foto del pokemon:</label>
              <input
                class="form-control form-control-sm {{#unless edit}}required-field{{/unless}}"
                type="file"
                id="image"
                name="image"
                {{#if edit}}value="{{pokemon.photo_url}}"{{/if}} 
              />
            </div>
          </div>
          <div class="form-group mb-2">
            <label for="name">Nombre del pokemon:</label>
            <input
              class="form-control form-control-sm required-field"
              type="text"
              id="name"
              name="name"
              autofocus
              {{#if edit}}value="{{pokemon.name}}"{{/if}} 
            />
          </div>
          <div class="form-group mb-2">
            <label for="status">regi贸n:</label>
            <select
              class="form-select form-select-sm required-field"
              id="region"
              name="region"
            >
              <option value="">Selecciona la regi贸n del pokemon</option>
              {{#each regions}}
              <option value="{{this.id_region}}" {{#if (equal this.id_region ../regionId)}}selected{{/if}}>{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="status">tipo primario:</label>
            <select
              class="form-select form-select-sm required-field"
              id="type"
              name="type"
            >
              <option value="">Selecciona el tipo del pokemon</option>
              {{#each types}}
              <option value="{{this.id_type}}" {{#if (equal ../typeId this.id_type)}}selected{{/if}}>{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          {{#if edit}}
            <input type="hidden" name="id" value="{{pokemon.id}}" />
          {{/if}}
          <div class="main__card__body__form__buttons">
            <a href="/admin-pokemon" class="btn btn-warning management-button">
              Volver atras
            </a>
            <button
              type="button"
              class="btn btn-danger management-button ms-1"
              id="btn-save"
            >
              {{#if edit}}Edit{{else}}Cre{{/if}}ar Pokemon
            </button>
          </div>
        </form>
      </div>
    </div>
  {{/if}}
</section>